<html>
<head>
<script type="text/javascript" src ="forms_tute.js"></script>
<link rel="stylesheet" type="text/css" href="myStyle.css">




<title id="formName">Customers List</title>

</head>

<body>
<div class="topnav">
<h2>Public Health Insurance!</h2>
</div>
<br>
<div class="topnav" >
<form action="#" method="POST">
	<input type="submit" Value="Customer Registration" name="linkClicked"/>
	<input type="submit" Value="Change Password" name="linkClicked"/>
	<input type="submit" Value="Policy Registration" name="linkClicked"/>
	<input type="submit" Value="Update Policy" name="linkClicked"/>
	<input type="submit" Value="Claim Policy" name="linkClicked"/>
	<input type="submit" Value="Policy Plans" name="linkClicked"/>
	<input type="submit" Value="Edit Customer Details" name="linkClicked"/>
	<input type="submit" Value="Delete Customer" name="linkClicked"/>
	<input type="submit" Value="List Registered Customers" name="linkClicked"/>
	<input type="submit" Value="List Registered Policies" name="linkClicked"/>
</form>
</div>
<br>
<br>
<br>
<br>
<br>

<div align="center">
<h1>  <U>List of All Registered Customers</U> </h2>

<form action="#" method="POST">
	<table>
	<tr>
		<th>Customer ID</th><th>Customer Name</th><th>Mobile No</th><th>Deleted</th>
	</tr>
	
	<%if(detail != undefined) { %>
		<% detail.forEach(function(details) { %>
			<tr>
				<td>
					<%=details.custId %>
				</td>
				<td>
					<%=details.name %>
				</td>
				<td>
					<%=details.mobile %>
				</td>
				<td>
					<%=details.deleted %>
				</td>
			</tr>
		<% }) %>
	<% } %>
	</table>
	<br><br><br>
	<h3 style="color: black ; text-align:center">Logged as :<%=whichUser%>  </h3>
	<br>
<form action="#" method="POST">
	<input type="submit" Value="Logout <%=whichUser%>" name="logout"/>
</form>
</div >


</body>

</html>





